@model TimetableSys_T17.Room

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="../../content/rooms.css">

<h2>Details</h2>

<div>
    <h4 class="centre">Room</h4>
    <hr />
    <table class="table tableDetails">

<tr>
        <td>
            @Html.LabelFor(model => model.roomCode, "Room Code")
        </td>

        <td>
            @Html.DisplayFor(model => model.roomCode)
        </td>

</tr>

<tr>
        <td>
            @Html.LabelFor(model => model.Building.buildingName, "Building Name")
        </td>

        <td>
            @ViewBag.building
        </td>
</tr>

<tr>
        <td valign="top">
           <b> Facilities</b>
        </td>
<td>
        @foreach (var x in @ViewBag.Fac[0])
        {
           @x
<br />
        }   
        
        </td>

</tr>

<tr>

    <td>

                    @Html.LabelFor(model => model.capacity, "Capacity")

    </td>

        <td>
            @Html.DisplayFor(model => model.capacity)
        </td>


</tr>
<tr>

        <td>
            @Html.LabelFor(model => model.lab, "Lab")
        </td>

        <td>
            @if(@ViewBag.Lab == 1){
                <p>Yes</p>
            }
            else{
                <p>No</p>
            }
        </td>

</tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.roomID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
