@model IEnumerable<TimetableSys_T17.Room>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="../../content/rooms.css">

<h2 class="centre">Index</h2>

<p class="centre">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-hover mainTable table-bordered scroll">
<thead>   
 <tr>
        <th>
            Room Code
        </th>
        <th>
            Building Name
        </th>
        <th>
            Capacity
        </th>
        <th>
            Lab
        </th>
        <th>
            Private
        </th>

    </tr>
</thead>

<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.roomCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Building.buildingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.capacity)
        </td>
        @if (item.lab == 1)
        {
            <td>Yes</td>     
        }
        else
        {
            <td>No</td>
        }
        @if (item.@private == 1)
        {
            <td>Yes</td>
        }
        else
        {
            <td>No</td>
        }
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.roomID })
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.roomID })
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.roomID })
        </td>
    </tr>
}

</tbody>

</table>
