@model IEnumerable<TimetableSys_T17.Room>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.roomCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Building.buildingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lab)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.@private)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.roomCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Building.buildingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lab)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.@private)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Building.buildingName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.roomID }) |
            @Html.ActionLink("Details", "Details", new { id=item.roomID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.roomID })
        </td>
    </tr>
}

</table>
