@model TimetableSys_T17.Models.CreateRoomModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @using (Html.BeginForm())
    {
    @Html.ValidationSummary(true, "");


    <div class="well">
        <fieldset>
            <div class="input-group">

                <span class="input-group-addon">
                    Room Name
                    @Html.TextBoxFor(a => a.roomName, new { @class = "form-control", @placeholder = "e.g. N.0.01" })
                    @Html.ValidationMessageFor(a => a.roomName)
                </span>

            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    Capacity
                    @Html.TextBoxFor(a => a.capacity, new { @class = "form-control", @placeholder = "e.g. 3" })

                </span>

            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    Lab
                    @Html.CheckBoxFor(a => a.lab)

                </span>

            </div>

            <input type="button" value="Create Room" />
        </fieldset>
    </div>
    }


</div>

@if (ViewData["Message"] != null)
{
<div>success</div>
}
else
{
<div>failure</div>
}
<br />

@*<input type="button" value="Create Room" />*@

