@model TimetableSys_T17.Models.CreateRoomModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "");


        <div class="well">
            <fieldset>
                <div class="input-group">

                    <span class="input-group-addon">
                        Room Name
                        @Html.TextBoxFor(a => a.roomCode, new { @class = "form-control", @placeholder = "e.g. N.0.01" })
                        @Html.ValidationMessageFor(a => a.roomCode)
                    </span>

                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        Capacity
                        @Html.TextBoxFor(a => a.capacity, new { @class = "form-control", @placeholder = "e.g. 3" })

                    </span>

                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        Lab
                        @Html.CheckBoxFor(a => a.lab)

                    </span>

                </div>

                <input type="submit" value="CreateRoom" class="btn btn-default" />
            </fieldset>
        </div>
    }


</div>


@*TO DO: - Return message notifying room was created or any error message
    - Decide where to redirect user after room creation (Home or this page with empty fields?)*@


